@model Veterinary_App_Semos.Models.Owner

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />

<div form-container p-4 rounded shadow>
    <div class="form-wrapper animate__animated animate__fadeInUp">
    <h1>Create</h1>
    <h4>🐾 New Owner</h4>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-violet" />
        </div>
    </form>

    <a asp-action="Index" class="back-link">← Back to List</a>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
