@model Veterinary_App_Semos.Models.Owner

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/css/edit.css" />
</head>

<div class="edit-container">
    <h1>Edit Owner</h1>

    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OwnerId" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter Name..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" placeholder="Enter Surname..." />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" placeholder="Enter Age..." />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="btn-container">
            <input type="submit" value="Save" class="btn btn-edit" />
            <a asp-action="Index" class="btn btn-back">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
