@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
  
    <style>
        
    </style>
</head>
<body>

    <div class="privacy-container">
        <h1>Privacy Policy</h1>
        <p class="center-text">🐾Welcome to our Veterinary Application.<br /> Your privacy is important to us, and we are committed to protecting your personal data.🐾</p>

        <h3>1. Information We Collect</h3>
        <p>We may collect personal information such as your name and email when you register or use our services.</p>

        <h3>2. How We Use Your Information</h3>
        <p>We use your data to provide and improve our services, process transactions, and communicate with you.</p>

        <h3>3. Data Security</h3>
        <p>We implement security measures to protect your data from unauthorized access or disclosure.</p>

        <h3>4. Third-Party Sharing</h3>
        <p>We do not sell or share your personal data with third parties, except as required by law.</p>

        <h3>5. Changes to This Policy</h3>
        <p>We may update our privacy policy periodically. We encourage you to review this page regularly.</p>

        <p class="center-text">If you have any questions about this policy, please contact us.</p>
    </div>
</body>
</html>
