@model Veterinary_App_Semos.Models.Pet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/edit.css" />
</head>

<div class="edit-container">
    <h1>Edit Pet</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PetId" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VaccinesNames" class="control-label"></label>
                    <select asp-for="VaccinesNames" required multiple class="form-control" asp-items="ViewBag.VaccineId"></select>
                    <span asp-validation-for="VaccinesNames" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="OwnerId" class="control-label"></label>
                    <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn-edit">Save</button>
                    <a asp-action="Index" class="btn btn-back">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
